.head {
  font-weight: bold;
  font-family: Georgia;
  color: #192e28;
  font-size: 20px;
  text-align: center;
}

#one {
  text-align: center;
}

#one .head {
  font-size: 50px;
}

#container {
  width: 500px;
  margin: 25 px;
}

#two, #three, #four {
  background-color: #fff;
  padding: 8px;
  font-family: tahoma;
  color: #212e36;
  font-size: 15px;
}

#two, #three {
  width: 250px;
  text-align: center;
}

#four {
  text-align: justify;
}

.icon {
  width: 25px;
}

button {
  padding: 0px;
  height: 29px;
}

.editicon {
  width: 15px;
}

#editbutton {
  padding: 0px;
  height: 19px;
}

#hidden {
  display: none;
}

#outside {
  text-align: center;
}

#about {
  width: 300px;
  height: 100px;
}

body {
  background-color:#c3dfef;
}

h1.titill {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-width: 2px 205px 4px 205px;
}

div.post {
  border: double;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
  background-color: white;
}

div.titill {
  text-decoration: underline;
  font-size: 40px;
}

img {
  max-width: 500px;
  max-height: 700px;
}

body {
  text-align: center;
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
form {
  text-align: center;
  color: #FFFFFF;
}
.SignUp {
  float: right;
  display: block;
  top: 50px;
}
.LogIn {
  float: right;
  display: block;
}
h1 {
  text-align: center;
  font-family: 'Exo';
  color: #AAAAFF;
}
body {
  background-image: url(http://i.imgur.com/c9HtRon.jpg);
}
.prompt{
  font-family: 'Exo';
  background-color: #000000;
  color: #FFFFFF;
}
