body {
  background-color:#c3dfef;
  text-align: center;
}

h1.titill {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-width: 2px 205px 4px 205px;
}
.head {
  font-weight: bold;
  font-family: Georgia;
  color: #192e28;
  font-size: 20px;
  text-align: center;
}

#one {
  text-align: center;
}
div.post {
  border: double;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
  background-color: white;
}

div.titill {
  text-decoration: underline;
  font-size: 40px;
}

img {
  max-width: 500px;
  max-height: 700px;
}

.commentaTakki {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
}

.commentaTakki:hover {
  text-decoration: none;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
#two, #three, #four {
  background-color: #fff;
  padding: 8px;
  font-family: tahoma;
  color: #212e36;
  font-size: 15px;
}

#two, #three {
  width: 250px;
  text-align: center;
}

#four {
  text-align: justify;
}

.icon {
  width: 25px;
}

button {
  padding: 0px;
  height: 29px;
}

.editicon {
  width: 15px;
}

#editbutton {
  padding: 0px;
  height: 19px;
}

#hidden {
  display: none;
}

#editavatar {
  display: none;
}
#comment {
  max-width: 400px;
  max-height: 150px;
  min-width: 400px;
  min-height: 150px;
}

#outside {
  text-align: center;
}

#about_you {
  min-width:300px;
  min-height: 100px;
  max-width: 300px;
  max-height: 100px;
}

fieldset {
  width: 400px
}

body {
  background-color:#c3dfef;
}

h1.titill {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-width: 2px 205px 4px 205px;
}

div.post {
  border: double;
  border-radius: 20px;

  margin-left: auto;
  margin-right: auto;
  width: 50em;
  background-color: white;
}

div.titill {
  text-decoration: underline;
  font-size: 40px;
}

form {
  text-align: center;
  color: #FFFFFF;
}
.SignUp {
  float: right;
  display: block;
  top: 50px;
}
.LogIn {
  float: right;
  display: block;
}
h1 {
  text-align: center;
  font-family: 'Exo';
  color: #AAAAFF;
}
body {
  background-image: url(http://i.imgur.com/c9HtRon.jpg);
  text-align: center;
  @import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
  @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
}
.prompt{
  font-family: 'Exo';
  background-color: #000000;
  color: #FFFFFF;
}
td {
  background-color: #181817;
  border: 2px solid #444442;
  display: inline-block;
  margin: 4px 2px;
  position: relative;
  width: 180px;
  height: 180px;
}

img {
  width: 180px;
  height: 180px;
  line-height: 0;
  }